# sudo apt update
# sudo apt install python3-pip -y
# pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
# pip3 install -r requirements.txt

transformers   # Hugging Face Transformers Library for LLM
flask==2.3.2   # Flask for building web applications (if using the web app example)